@import "vars";
@import "mixins";

@include main;

main {
  height: 100vh;
  background-image: url("../slike/background.jpg");
  background-size: cover;
  padding: 3em 15em;
}

.logo {
  span {
    color: $main_red;
  }
}

header,
section,
footer {
  @include clearfix;
}

section {
  padding: 5em 10em;
  text-align: center;
}

header {
  background-color: #fff;
  padding: 0 0.5em;

  .logo {
    font-size: 2em;
    float: left;
    font-weight: bold;
  }
}

nav {
  float: right;
  @include clearfix;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 1em;
      margin-left: 10px;

      &:hover {
        background-color: rgb(43, 43, 43);
        a {
          color: #fff;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

h1,
h3 {
  color: #fff;
  text-align: center;
  width: 60%;
  font-weight: normal;
  margin: 0 auto;
}

h1 {
  border-bottom: 2px solid $main_red;
  margin-top: 20%;
}

#catalog {
  background-color: $grey_background;
}

h2 {
  margin-bottom: 2em;
  font-size: 2em;
  text-transform: uppercase;
}

.img-box {
  width: 25%;
  float: left;

  img {
    width: 90%;
  }

  p {
    margin: 1em 0;
  }
}

.button {
  padding: 0.5em 1em;
  background-color: $main_red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

#pricing{
    .button{
        display: none;
    }
}

table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;

  td,
  th {
    padding: 1em;
  }

  thead {
    background-color: $main_red;

    th {
      color: #fff;

      &:first-child {
        background-color: $red_dark;
      }
    }
  }

  td {
    border-bottom: 1px solid $main_text_color;
  }

  .first {
    background-color: $grey_background;
    color: $main_text_color;
    font-weight: bold;
  }
}

footer {
  padding: 3em 10em;
  background-color: #000;
  text-align: left;

  .logo {
    font-size: 1.3em;
    border-bottom: 1px solid $main_red;
  }
}

address {
  float: left;
  margin-top: 2em;

  p {
    color: #fff;
  }
}

.map {
  margin-top: 2em;
  float: right;
}

@media only screen and (max-width: 1350px) {
  main {
    padding: 1em;
  }

  h1,
  h3 {
    width: 90%;
  }

  .img-box {
    width: 50%;
    margin-top: 3em;
  }

  footer {
    text-align: center;
  }

  address,
  .map {
    float: unset;
  }
}

@media only screen and (max-width: 800px){

    main{
        background-image: unset;
        background-color: black;
    }

    header{

        .logo{
            float: unset;
            font-size: 1.5em;
        }
    }
    nav{
        float: unset;
        text-align: center;
        ul{
            li{
                display: block;
            }
        }
    }

    .img-box {
    width: 100%;
    margin-top: 5em;
  }

  #pricing{
    .button{
        display: unset;
    }

    table{
        display: none;
    }
}

  h2{
      font-size: 1.5em;
  }

  section, footer{
      padding: 3em 1em;
  }
}