@import 'vars';
@import 'mixins';

@include main;

main{
    height: 100vh;
    background-image: url('../slike/background.jpg');
    background-size: cover;
    padding: 3em 15em;
}

.logo{
    span{
        color:$main_red;
    }
}

header, section, footer{
    @include clearfix;
}

header{
    background-color: #fff;
    padding: 0 0.5em;

    .logo{
        font-size: 2em;
        float: left;
        font-weight: bold;
    }
}

nav{
    float: right;
    @include clearfix;

    ul{
        list-style: none;

        li{
            display: inline-block;
            padding: 1em;
            margin-left: 10px;

            &:hover{
                background-color: rgb(43, 43, 43);
                a{
                    color: #fff;
                } 
            }
        }

        a{
            text-decoration: none;
        }
    }
}

h1, h3{
    color: #fff;
    text-align: center;
    width: 60%;
    font-weight: normal;
    margin: 0 auto;
}

h1{
    border-bottom: 2px solid $main_red;
    margin-top: 20%;
}